/* Color palette based on: https://colorhunt.co/palette/148314 */

.yellow-sun-rise { color: #F4EA9D }
.warm-sun-set { color: #C78D78 }
.bca-pink { color: #E9B7CA }
.royale-purple { color: #3B0B58 }
.text-color { color: #11010E }
.text-color-on-dark { color: #FFF3F7 }
.link-color { color: #854777 }

/* Google Fonts
Headers
  font-family: 'Merriweather', serif;
Body Text
  font-family: 'Open Sans', sans-serif;
Subheadings
  font-family: 'Oswald', sans-serif;
*/

body {
  color: #0d0d0d;
  background-color: #FFF3F7;
  font-family: 'Open Sans', sans-serif;
}

/* Links */

a,
a:visited {
 color: #854777;
}

a:hover,
a:focus {
  color: #3B0B58;
}

/* Navigation */

.top-bar, .top-bar ul {
  background-color: #FFF3F7;
}

.top-bar {
  padding-top: 25px;
  padding-bottom: 25px;
}

.top-bar .menu-text {
  font-family: 'Oswald', sans-serif;
}

/* For all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}

label {
  font-family: 'Oswald', sans-serif;
}

/* Sections */

#header {
  margin-top: 20px;
}

#heading {
  font-size: 80px;
}

#sub-heading {
  font-size: 60px;
}

/* Buttons */

.button {
  background-color: #3B0B58;
  color: #FFF3F7;
}
.button:hover,
.button:focus {
  background-color: #854777;
  color: #FFF3F7;
}


.box {
  background-color: darkkhaki;
  padding: 1em;
  border: 1px solid #cccc99;
  border-radius: 10px;
}

/* Footer */

footer {
  background-color: #fac0e1;
  color: #687273;
}

footer ul .no-bullet {
  list-style-type: none;
}

footer a {
  color: #5a8c7a;
}
footer a:hover,
footer a:focus {
  color: #f2f2f2;
}








