<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Biopsy </title>
</head>
<body>
    <form method="POST" action="/submit">

        <label>Radius Mean</label>
        <input type="number" id="parameter[0]" name="parameter[0]">
    
        <label>Texture Mean</label>
        <input type="number" id="parameter[1]" name="parameter[1]">
    
        <!-- Create form fields for each value -->

        <input type="submit" value="submit">
    </form>

    <button method="POST" action="/random">Generate Random Sample</button>
    
</body>
</html>