<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BBB</title>
</head>

<body>

    <select id="selPatient" onchange="selectPatient(this.value)"></select>
    <h2 id="patientID">Patient ID: </h2>
    <table></table>
    <button id="analyze">Analyze</button>
    <h2 id="diagnosis">Diagnosis: </h2>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../static/js/app.js"></script>
</body>


</html>

