<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code for The Cure!</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
      crossorigin="anonymous"
    />
    <!-- Foundation docs @ https://foundation.zurb.com/sites/docs/ -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css"
      integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg=="
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <style></style>

  <body>
    <!-- Header -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><a href="/">Code for The Cure</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/story">Our Story</a></li>
          <li><a href="/cases">Case Studies</a></li>
          <li><a href="/calculator">Demo</a></li>
          <li><a href="/cta">Request Consultation</a></li>
        </ul>
      </div>
    </div>

    <!-- Footer -->
    <footer class="grid-x grid-padding-x grid-padding-y align-middle">
      <div class="cell medium-7 large-5 text-center">
        <h3>Site Created with ❤️ by:</h3>
        <ul class="no-bullet">
          <li>Gretel Uptegrove</li>
          <li>Arjun Subramaniam</li>
          <li>Mike Lygas</li>
          <li>Gretel Uptegrove</li>
          <li><a href="https://chique.dev/">Kseniya Bogoslavskaya</a></li>
        </ul>
      </div>
      <div class="cell medium-5 large-5">
        <h3>Fight cancer together</h3>
        <p>
          Here's an overview:
        </p>
        <ul>
          <li>list1</li>
          <li>List2</li>
        </ul>
        <p>
          <small>
            <a href="#">Back to top</a>
          </small>
        </p>
      </div>
    </footer>

    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <!-- TODO: Are we using d3-tip? -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"
      integrity="sha256-/PFxCnsMh+nTuM0k3VJCRch1gwnCfKjaP8rJNq5SoBg= sha384-9ksAFjQjZnpqt6VtpjMjlp2S0qrGbcwF/rvrLUg2vciMhwc1UJJeAAOLuJ96w+Nj sha512-UMSn6RHqqJeJcIfV1eS2tPKCjzaHkU/KqgAnQ7Nzn0mLicFxaVhm9vq7zG5+0LALt15j1ljlg8Fp9PT1VGNmDw=="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
