<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code for The Cure!</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
      crossorigin="anonymous"
    />
    <!-- Foundation docs @ https://foundation.zurb.com/sites/docs/ -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css"
      integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Oswald&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <style></style>

  <body>
    <!-- Header -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text"><a href="/">Code for The Cure</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/story">Our Story</a></li>
          <li><a href="/cases">Case Studies</a></li>
          <li><a href="/calculator">Demo</a></li>
          <li><a href="/cta">Request Consultation</a></li>
        </ul>
      </div>
    </div>
    <div
      class="tableauPlaceholder"
      id="viz1563780084686"
      style="position: relative"
    >
      <noscript
        ><a href="#"
          ><img
            alt=" "
            src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;8P&#47;8P4NCKZWH&#47;1_rss.png"
            style="border: none"/></a></noscript
      ><object class="tableauViz" style="display:none;"
        ><param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F"/>
        <param name="embed_code_version" value="3"/>
        <param name="path" value="shared&#47;8P4NCKZWH"/>
        <param name="toolbar" value="yes"/><param
          name="static_image"
          value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;8P&#47;8P4NCKZWH&#47;1.png"/>
        <param name="animate_transition" value="yes"/><param
          name="display_static_image"
          value="yes"/><param name="display_spinner" value="yes"/><param
          name="display_overlay"
          value="yes"/><param name="display_count" value="yes"
      /></object>
    </div>
    <script type="text/javascript">
      var divElement = document.getElementById("viz1563780084686");
      var vizElement = divElement.getElementsByTagName("object")[0];
      vizElement.style.width = "1016px";
      vizElement.style.height = "991px";
      var scriptElement = document.createElement("script");
      scriptElement.src =
        "https://public.tableau.com/javascripts/api/viz_v1.js";
      vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
    <!-- Footer -->
    <footer class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="cell large-12 text-center">
          <h3>Site Created with ❤️ by:</h3>
          <ul class="no-bullet">
            <li><a href="https://github.com/gretelup">Gretel Uptegrove</a></li>
            <li>Arjun Subramaniam</li>
            <li>Mike Lygas</li>
            <li>Smita Sharma</li>
            <li><a href="https://chique.dev/">Kseniya Bogoslavskaya</a></li>
          </ul>
          <p>
            <small>
              <a href="#">Back to top</a>
            </small>
          </p>
        </div>
        <div class="cell large-3 text-center">
          <!-- Facebook link -->
          <a href="https://facebook.com" target="_blank">
            <span style="font-size: 48px; color: #3b5998;">
              <i class="fab fa-facebook-f"></i>
            </span>
          </a>
          <!-- Twitter link -->
          <a href="https://twitter.com" target="_blank">
            <span style="font-size: 48px; color: Dodgerblue;">
              <i class="fab fa-twitter"></i>
            </span>
          </a>
          <!-- Instagram link -->
          <a href="https://instagram.com" target="_blank">
            <span style="font-size: 48px; color: #fb3958">
              <i class="fab fa-instagram"></i>
            </span>
          </a>
        </div>
      </footer>

    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <!-- TODO: Are we using d3-tip? -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"
      integrity="sha256-/PFxCnsMh+nTuM0k3VJCRch1gwnCfKjaP8rJNq5SoBg= sha384-9ksAFjQjZnpqt6VtpjMjlp2S0qrGbcwF/rvrLUg2vciMhwc1UJJeAAOLuJ96w+Nj sha512-UMSn6RHqqJeJcIfV1eS2tPKCjzaHkU/KqgAnQ7Nzn0mLicFxaVhm9vq7zG5+0LALt15j1ljlg8Fp9PT1VGNmDw=="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
