<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breast Cancer Project</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Kalam:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" />
</head>
<style>

</style>

<body>
    <div class="row">
        <div class="col-8" id="header">
            <h1 id="heading">Breast Cancer Project</h1>
            <h1 id="sub-heading">"A Project Analyzing Breast Cancer Data"</h1>
        </div>
        <div class="col-4">
            <img id="">
        </div>
    </div>

    <div class="row" style="height: 1500px">
        <div class="col-5">


        </div>
    </div>


        <div class="row">
            <div class="col-7">
                <div class="row">
                    <div class="card">
                        <div class="card-body" style="width: 600px;">
                            <h4></h4>

                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="card">

                       
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-body">

                    
                    </div>
                </div>
            </div>
        </div>

        <div id="row">
            <div class="container">
                <div class="card img-fluid">
            

                </div>
            </div>

        </div>
    </div>
    </div>

   
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script scr="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>