<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code for The Cure!</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
      crossorigin="anonymous"
    />
    <!-- Foundation docs @ https://foundation.zurb.com/sites/docs/ -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css"
      integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg=="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Kalam:700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <style></style>

  <body>
    <!-- Header -->
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">Code for The Cure</li>
          <li><a href="/">Home</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/viz">Viz</a></li>
          <li><a href="/cases">Case Studies</a></li>
          <li><a href="/calculator">Demo</a></li>
          <li><a href="/cta">Request Consultation</a></li>
        </ul>
      </div>
    </div>

     <!-- ~~~~~~~~~~~~~~~~ TABLEAU CODE BEGIN-->

     <div
     class="tableauPlaceholder"
     id="viz1563634271816"
     style="position: relative"
   >
     <noscript
       ><a href="#"
         ><img
           alt=" "
           src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;36&#47;36SPKH4BN&#47;1_rss.png"
           style="border: none"/></a></noscript
     ><object class="tableauViz" style="display:none;"
       ><param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F"/>
       <param name="embed_code_version" value="3"/>
       <param name="path" value="shared&#47;36SPKH4BN"/>
       <param name="toolbar" value="yes"/><param
         name="static_image"
         value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;36&#47;36SPKH4BN&#47;1.png"/>
       <param name="animate_transition" value="yes"/><param
         name="display_static_image"
         value="yes"/><param name="display_spinner" value="yes"/><param
         name="display_overlay"
         value="yes"/><param name="display_count" value="yes"/><param
         name="filter"
         value="publish=yes"
     /></object>
   </div>
   
   <script type="text/javascript">
     var divElement = document.getElementById("viz1563634271816");
     var vizElement = divElement.getElementsByTagName("object")[0];
     vizElement.style.width = "1366px";
     vizElement.style.height = "795px";
     var scriptElement = document.createElement("script");
     scriptElement.src =
       "https://public.tableau.com/javascripts/api/viz_v1.js";
     vizElement.parentNode.insertBefore(scriptElement, vizElement);
   </script>
   <div
     class="tableauPlaceholder"
     id="viz1563552438208"
     style="position: relative"
   >
     <noscript>
       <a href="#">
         <img
           alt=" "
           src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dash01_15635523868910&#47;Global&#47;1_rss.png"
           style="border: none"
         />
       </a> </noscript
     ><object class="tableauViz" style="display:none;">
       <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
       <param name="embed_code_version" value="3" />
       <param name="site_root" value="" />
       <param name="name" value="Dash01_15635523868910&#47;Global" />
       <param name="tabs" value="no" />
       <param name="toolbar" value="yes" />
       <param
         name="static_image"
         value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dash01_15635523868910&#47;Global&#47;1.png"
       />
       <param name="animate_transition" value="yes" />
       <param name="display_static_image" value="yes" />
       <param name="display_spinner" value="yes" />
       <param name="display_overlay" value="yes" />
       <param name="display_count" value="yes" />
       <param name="filter" value="publish=yes" />
     </object>
   </div>
   <script type="text/javascript">
     var divElement = document.getElementById("viz1563552438208");
     var vizElement = divElement.getElementsByTagName("object")[0];
     if (divElement.offsetWidth > 800) {
       vizElement.style.width = "1000px";
       vizElement.style.height = "827px";
     } else if (divElement.offsetWidth > 500) {
       vizElement.style.width = "1000px";
       vizElement.style.height = "827px";
     } else {
       vizElement.style.width = "100%";
       vizElement.style.height = "727px";
     }
     var scriptElement = document.createElement("script");
     scriptElement.src =
       "https://public.tableau.com/javascripts/api/viz_v1.js";
     vizElement.parentNode.insertBefore(scriptElement, vizElement);
   </script>
   <div
     class="tableauPlaceholder"
     id="viz1563498316761"
     style="position: relative"
   >
     <noscript
       ><a href="#"
         ><img
           alt=" "
           src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gl&#47;Global_15634970701840&#47;Global_DashBoard&#47;1_rss.png"
           style="border: none"/></a></noscript
     ><object class="tableauViz" style="display:none;"
       ><param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F"/>
       <param name="embed_code_version" value="3"/>
       <param name="site_root" value=""/><param
         name="name"
         value="Global_15634970701840&#47;Global_DashBoard"/><param
         name="tabs"
         value="no"/><param name="toolbar" value="yes"/><param
         name="static_image"
         value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Gl&#47;Global_15634970701840&#47;Global_DashBoard&#47;1.png"/>
       <param name="animate_transition" value="yes"/><param
         name="display_static_image"
         value="yes"/><param name="display_spinner" value="yes"/><param
         name="display_overlay"
         value="yes"/><param name="display_count" value="yes"/><param
         name="filter"
         value="publish=yes"
     /></object>
   </div>
   <script type="text/javascript">
     var divElement = document.getElementById("viz1563498316761");
     var vizElement = divElement.getElementsByTagName("object")[0];
     vizElement.style.minWidth = "420px";
     vizElement.style.maxWidth = "650px";
     vizElement.style.width = "100%";
     vizElement.style.minHeight = "587px";
     vizElement.style.maxHeight = "887px";
     vizElement.style.height = divElement.offsetWidth * 0.75 + "px";
     var scriptElement = document.createElement("script");
     scriptElement.src =
       "https://public.tableau.com/javascripts/api/viz_v1.js";
     vizElement.parentNode.insertBefore(scriptElement, vizElement);
   </script>

   <div
     class="tableauPlaceholder"
     id="viz1563499417670"
     style="position: relative"
   >
     <noscript>
       <a href="#"
         ><img
           src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Br&#47;BreastCancerOccuranceViz2&#47;BreastOccuranceDash&#47;1_rss.png"
           style="border: none"/></a></noscript
     ><object class="tableauViz" style="display: none;"
       ><param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F"/>
       <param name="embed_code_version" value="3"/>
       <param name="site_root" value=""/><param
         name="name"
         value="BreastCancerOccuranceViz2&#47;BreastOccuranceDash"/><param
         name="tabs"
         value="no"/><param name="toolbar" value="yes"/><param
         name="static_image"
         value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Br&#47;BreastCancerOccuranceViz2&#47;BreastOccuranceDash&#47;1.png"/>
       <param name="animate_transition" value="yes"/><param
         name="display_static_image"
         value="yes"/><param name="display_spinner" value="yes"/><param
         name="display_overlay"
         value="yes"/><param name="display_count" value="yes"/><param
         name="filter"
         value="publish=yes"
     /></object>
   </div>
   <script type="text/javascript">
     var divElement = document.getElementById("viz1563499417670");
     var vizElement = divElement.getElementsByTagName("object")[0];
     if (divElement.offsetWidth > 800) {
       vizElement.style.width = "1000px";
       vizElement.style.height = "827px";
     } else if (divElement.offsetWidth > 500) {
       vizElement.style.width = "1000px";
       vizElement.style.height = "827px";
     } else {
       vizElement.style.width = "100%";
       vizElement.style.height = "1427px";
     }
     var scriptElement = document.createElement("script");
     scriptElement.src =
       "https://public.tableau.com/javascripts/api/viz_v1.js";
     vizElement.parentNode.insertBefore(scriptElement, vizElement);
   </script>

   <!--  TABLEAU CODE END -->

    <!-- Footer -->
    <footer class="grid-x grid-padding-x grid-padding-y align-middle">
      <div class="cell medium-7 large-5 text-center">
        <h3>Site Created with ❤️ by:</h3>
        <ul class="no-bullet">
          <li>Gretel Uptegrove</li>
          <li>Arjun Subramaniam</li>
          <li>Mike Lygas</li>
          <li>Gretel Uptegrove</li>
          <li><a href="https://chique.dev/">Kseniya Bogoslavskaya</a></li>
        </ul>
      </div>
      <div class="cell medium-5 large-5">
        <h3>Fight cancer together</h3>
        <p>
          Here's an overview:
        </p>
        <ul>
          <li>list1</li>
          <li>List2</li>
        </ul>
        <p>
          <small>
            <a href="#">Back to top</a>
          </small>
        </p>
      </div>
    </footer>

    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <!-- TODO: Are we using d3-tip? -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js"
      integrity="sha256-/PFxCnsMh+nTuM0k3VJCRch1gwnCfKjaP8rJNq5SoBg= sha384-9ksAFjQjZnpqt6VtpjMjlp2S0qrGbcwF/rvrLUg2vciMhwc1UJJeAAOLuJ96w+Nj sha512-UMSn6RHqqJeJcIfV1eS2tPKCjzaHkU/KqgAnQ7Nzn0mLicFxaVhm9vq7zG5+0LALt15j1ljlg8Fp9PT1VGNmDw=="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
